<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-3">
    <h2 class="content-subhead">What is this?</h2>
    <p>ATForecast.com is an open source weather data aggregator specifically for shelters and campsites along the Appalachian Trail. We provide detailed forecasts and weather conditions for A.T. hikers as fast as possible.</p>

    <h2 class="content-subhead">Why did we make this?</h2>
    <p>Our goal with this project is to have the fastest and easiest to use weather service available for hikers on the Appalachian Trail. Many places on the trail have spotty cell service, so we wanted to make the pages load as fast as possible when you have that bad service connection. </p>

    <h2 id="adjusted-temp" class="content-subhead">How do we adjust temperature for elevation?</h2>
    <p>As you may have noticed on your hikes, the mountain tops are colder than the valleys. Every 1,000 feet in elevation gain, the temperature decreases around an average of 3.5&deg;F. You can read more about this <a href="https://en.wikipedia.org/wiki/Lapse_rate#Environmental_lapse_rate" target="_blank">here</a>.</p>
    <p>We are able to calculate this difference in elevation based on the elevation at the shelter minus the elevation where the weather station is located.</p>

    <h2 class="content-subhead">How can you contribute?</h2>
    <p>ATForecast.com is <a href="https://github.com/Green-Squad/AT-Forecast" target="_blank">open source on GitHub</a>, so feel free to contribute if you know how to code.</p>
    <p>If you have any suggestions or notice any bugs or issues, you can contact us at <a href="mailto:gscoders@gmail.com">gscoders@gmail.com</a>.</p>
  </div>
</div>
