body {
  font-family: Verdana, Helvetica;
  color: #252424;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.brand-title a {
  color: #fff;
  text-transform: none !important;
}
#shelter-name {
  font-size: 1.5em;
}
#mile-search-form {
  padding-bottom: 10px;
}
.content-subhead .post-category {
  padding: 4px 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hidden {
  display:none;
}
.fill-width {
  width: 100%;
}
.fill-height {
  height: 100%;
}
#mileage {
  margin-bottom: 0 !important;
}
.button-margin {
  margin-left: 10px;
}
.state-content .pure-button-hover, .state-content .pure-button:focus, .state-content .pure-button:hover {
  background-image: none;
  background-color: #cacaca;
}
.state-content {
  margin: 10px 0;
}
.state {
  font-size: 2em;
  text-align: left !important;
}
#shelter-info small, .summary {
  font-size: 12px;
}
.shelter-list {
  margin: 10px;
}
.clickable-shelter:hover {
  cursor: pointer;
}
.pure-table-striped {
  margin: 20px 0;
}
.pure-table-striped tr:odd {
  background-color: #ccc;
}
.container {
  max-width: 900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.tr-header {
  background-color: #3498db;
  color: #efefef
}

.table-align-left th, .table-align-left td { text-align: left; }

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.pure-button-primary {
  background-color: #2980b9 !important;
}
.pure-button-primary:hover {
  background-color: #3498db !important;
}
.pure-table td, .pure-table th {
  border-left: none !important;
  text-align: left !important;
}

.sidebar a {
  color: #fff
}

.clear-fix {clear:both;}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 960px) {
    body{
        font-size: 18px;
    }
}

@media (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}

@media (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 13px;
    }
    .content-subhead .post-category {
      padding: 3px 5px;
    }
    .state.pure-button {
      font-size: 14px;
    }
}

@media (max-width: 319px) and (min-width: 0px) {
    body{
        font-size: 9px;
    }
    .state.pure-button {
      font-size: 14px;
    }
}

@media (max-width: 48em) {
  .break-pull-mobile {
    float: left !important;
    margin-top: 3px;
  }
  .content-subhead {
    font-size: 120%;
  }
  .state.pure-button {
    padding: .8em 1em;
  }
}
