<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FastAtWeather</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="pure-g container">
      <div class="pure-u-1">
      <h1><%= link_to('Fast AT Weather', root_path) %></h1>
      <%= yield %>
    </div>
    </div>
  </body>
</html>
